.row{
    width: 300px;
    height: 350px;
    border: 1px solid black !important;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}
table{
    max-width: 50%;
    margin-left: 25%;
}
button{
    margin-left: 4%;
}