*{
    width: 100%;
    box-sizing: border-box;

}
 .row{
    display: flex;
}
col{
    flex: 1;
} 
img{
    width: 100%;
    height: 100vh;
}
form{
    border: 2px solid black;
    border-radius: 25px;
    width: 80%;
    margin-top: 25%;
}
form h1{
    margin-left: 25%;
}
form h4{
    margin-left: 25%;
}
form h5{
    margin-left: 45%;
}
form h6{
    margin-left: 38%;
}
form p{
    margin-left: 30%;
}
form input{
    max-width:70%;
    margin-left: 15%;
}
form button{
    max-width: 25%;
    margin-left: 35%;
}

@media screen and (max-width: 950){
    .row{
        flex-direction: column;
    }
}

/* Above code is sigin */

