*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    background: rgb(226, 226, 226);
  }
  nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    /* width: 280px; */
    background: #fff;
    overflow: hidden;
    transition: 1s;
  }
  nav:hover{
    width: 280px;
    transition: 1s;
  }
  .logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
    
  }
  
  .logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
  .logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
  a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
  }
  nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
  }
  .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
  }
  a:hover{
    background: #eee;
    color: #34AF6D;
  }
  a:hover i{
    color: #34AF6D;
    transition: 0.5s;
  }
  .logout{
    position: absolute;
    bottom: 0;
  }
  
  .container{
    display: flex;
  }
  
  /* MAin Section */
  .main{
    position: relative;
    padding: 20px;
    width: 100%;
  }
  .main-top{
    display: flex; 
    width: 100%;
    background-color: palevioletred;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 25px black;
  }
  .main-top i{
    position: absolute;
    /* display: flex; */
    right: 0;
    display: inline-block;
    margin: 8px 35px;
    color: black;
    cursor: pointer; 
  }
  .main-body{
    margin-top: 5%;
  }
  .main-top1 i{
    margin-left: 96%;
    padding: 2px 1%;
    margin-top: 1%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #34AF6D;
    cursor: pointer;
  }
  .main-body button{
    width: 15%;
    margin-top: 8px;
    padding: 7px;
    cursor: pointer;
    background-color: red;
    font-size: 20px;
    margin-top: 2%;
  }


  /* w3 schools colors */

 .contain{
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  h1{
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
  }
  #left, #right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed black;
  } 
  .list{
    height: 60px;
    margin:30px;
    color: white;  
    padding: 10px 5%;  
    background-color: black;
    display: flex;
    align-items: center;
    cursor: move;
  }
  .list img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-left: 20px;
  }
  .dele{
    width: 3%;
    height: 5%;
    border: 1px solid black; 
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 3%;
    
  }
  .popup{
    width: 400px;
    background:white;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.1s, top 0.1s ;
    text-align: center;
    
}

.popup button{
    width: 25%;
    margin-top: 40px;
    padding: 10px 0;
    outline: none;
    font-size: 16px; 
    cursor: pointer;
    color: black;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) ;
    color:black;
}
.color-switcher .theme-buttons-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.color-switcher .theme-buttons-container .theme-buttons{
  display: block;
  height: 50px;
  width: 50px;
  /* border-radius: 50%; */
  margin: 5px;
  cursor: pointer;
}
.color-switcher{
  width: 65px;
  position: absolute;
  background: burlywood;
  text-align: center;
  top: 80px;
  left: 94%;
  top: 15%;
  transition: transform 0.4s, top 0.4s ;
  transform: translate(-5%,-20%) scale(0.6);
  visibility: hidden;
}